<!DOCTYPE html>
<html lang="hu" layout:decorator="fragments/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Zálog-program</title>
</head>
<body>
<div layout:fragment="content">

    <form name="dolgozo" th:action="@{/dolgozo}" th:object="${dolgozo}" method="post">

        <div class="form-row mt-5">
            <div class="input-group mb-4 col-md-5">
                <div class="input-group">
                    <span class="input-group-text">Név</span>
                </div>
                <input th:field="*{nev}" type="text" required class="form-control">
            </div>

            <div class="input-group mb-4 col-md-5 offset-md-1">
                <div class="input-group">
                    <span class="input-group-text">Telefonszám</span>
                </div>
                <input th:field="*{telefon}" type="text" required class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="input-group mb-4 col-md-5">
                <div class="input-group">
                    <span class="input-group-text">E-mail cím:</span>
                </div>
                <input th:field="*{email}" type="text" required class="form-control">
            </div>

            <div class="input-group col-md-5 mb-4 offset-md-1">
                <div class="input-group">
                    <span class="input-group-text" for="">Zálogfiók</span>
                </div>
                <select th:field="*{zalogfiok}" id="inputState" class="form-control">
                    <option th:each="zalogfiok : ${zalogfiokok}"
                            th:value="${zalogfiok.id}"
                            th:text="${zalogfiok.cim}"></option>
                </select>
            </div>
        </div>

        <div class="form-row mb-5">
            <div class="input-group col-md-5 mb-4">
                <div class="input-group">
                    <span class="input-group-text" for="">Beosztás</span>
                </div>
                <select th:field="*{beosztas}" class="form-control">
                    <option th:each="beosztas : ${beosztasok}"
                            th:value="${beosztas.id}"
                            th:text="${beosztas.munkakor}"></option>
                </select>
            </div>
        </div>

        <div class="form-row mb-5">

            <div class="col-md-4 offset-md-8">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Új Dolgozó</button>
            </div>
        </div>

    </form>

    <div class="container">
        <table class="table table-hover mb-5">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Név</th>
                <th scope="col">Telefonszám</th>
                <th scope="col">E-mail cím</th>
                <th scope="col">Zálogfiók</th>
                <th scope="col">Munkakör</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dolgozo : ${dolgozok}">
                <td th:text="${dolgozo.id}"></td>
                <td th:text="${dolgozo.nev}"></td>
                <td th:text="${dolgozo.telefon}"></td>
                <td th:text="${dolgozo.email}"></td>
                <td th:text="${dolgozo.zalogfiok.cim}"></td>
                <td th:text="${dolgozo.beosztas.munkakor}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <form name="torol" th:action="@{/dolgozoTorol}" th:object="${dolgozo}" method="post">
        <div class="form-row mt-5">
            <div class="input-group mb-4 col-md-5">
                <div class="input-group">
                    <span class="input-group-text">Név</span>
                </div>
                <select th:field="*{id}" class="form-control">
                    <option th:each="dolgozo : ${dolgozok}"
                            th:value="${dolgozo.id}"
                            th:text="${dolgozo.id + '. ' + dolgozo.nev}"></option>
                </select>
            </div>

            <div class="col-md-4 offset-md-8 mb-5">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Dolgozó törlése</button>
            </div>
        </div>
    </form>


</div>
</body>
</html>