<!DOCTYPE html>
<html lang="hu" layout:decorator="fragments/main"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Zálog-program</title>
</head>
<body>

<div layout:fragment="content">

    <form name="felvet" th:action="@{/zalogUj}" th:object="${zalogjegy}" method="post">

        <div class="form-row mt-5">
            <div class="input-group mb-4 col-md-3">
                <div class="input-group">
                    <span class="input-group-text">Beadás dátuma</span>
                    <p><b th:text="${maiNap}"></b></p>
                </div>

            </div>

            <div class="input-group mb-4 col-md-3">
                <div class="input-group">
                    <span class="input-group-text">Lejárat dátuma</span>
                    <p><b th:text="${lejarat}"></b></p>
                </div>
            </div>

            <div class="col-md-4 offset-md-2">
                <select th:field="*{ugyfel}" id="inputState" class="form-control">
                    <option th:each="ugyfel : ${ugyfelek}"
                            th:value="${ugyfel.id}"
                            th:text="${ugyfel.nev + ' (szig: ' + ugyfel.szig + ' )'}"></option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="input-group mb-4">
                <div class="input-group">
                    <span class="input-group-text">Zálogtárgy leírása</span>
                </div>
                <textarea th:field="*{leiras}" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="input-group col-md-3 mb-4">
                <div class="input-group">
                    <span class="input-group-text" for="">Karát</span>
                </div>
                <select th:field="*{karat}" class="custom-select" id="">
                    <option value="6">6</option>
                    <option value="8">8</option>
                    <option value="10">10</option>
                    <option value="14" selected>14</option>
                    <option value="18">18</option>
                </select>
            </div>

            <div class="form-group col-md-3 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Darabszám</span>
                </div>
                <input th:field="*{dbSzam}" type="number" min="1" class="form-control" placeholder="db">
            </div>

            <div class="form-group col-md-3 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Súly</span>
                </div>
                <input th:field="*{suly}" type="number" step="0.01" min="0" class="form-control" placeholder="g">
            </div>

            <div class="form-group col-md-3 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Kölcsön összeg</span>
                </div>
                <input th:field="*{osszeg}" type="number" class="form-control" placeholder="Ft">
            </div>
        </div>

        <div class="form-row mt-5 mb-5">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Felvétel</button>
        </div>
    </form>

    </div>


</body>
</html>