<!DOCTYPE html>
<html lang="hu" layout:decorator="fragments/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Zálog-program</title>
</head>
<body>

<div layout:fragment="content">

    <form th:action="@{/kivaltas}">
    <div class="form-row mt-5">
        <div class="input-group col-md-4 mb-4 col-md-4">
            <div class="input-group">
                <span class="input-group-text">Zálogjegy sorszáma</span>
            </div>
            <input type="number" class="form-control">
        </div>

        <div class="form-group col-md-3 mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text">Kölcsön összeg</span>
            </div>
            <input type="number" class="form-control" placeholder="Ft">
        </div>

        <div class="form-group col-md-2 offset-md-2 mb-4">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">OK</button>
        </div>
    </div>

    <div class="form-row mt-5">
        <div class="input-group mb-4 col-md-6">
            <div class="input-group">
                <span class="input-group-text">Beadás dátuma</span>
            </div>
            <input class="form-control" type="date" placeholder="DÁTUM" readonly>
        </div>

        <div class="input-group mb-4 col-md-6">
            <div class="input-group">
                <span class="input-group-text">Lejárat dátuma</span>
            </div>
            <input class="form-control" type="date" placeholder="DÁTUM" readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="input-group mb-4">
            <div class="input-group">
                <span class="input-group-text">Zálogtárgy leírása</span>
            </div>
            <textarea class="form-control" readonly></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="input-group col-md-2 mb-4">
            <div class="input-group">
                <span class="input-group-text" for="">Karát</span>
            </div>
            <input type="text" class="form-control" readonly>
        </div>

        <div class="form-group col-md-3 mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text">Darabszám</span>
            </div>
            <input type="text" class="form-control" placeholder="db" readonly>
        </div>

        <div class="form-group col-md-3 mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text">Súly</span>
            </div>
            <input type="text" class="form-control" placeholder="g" readonly>
        </div>

        <div class="form-group col-md-3 mb-4 offset-md-1">
            <div class="input-group-prepend">
                <span class="input-group-text"><b>Fizetendő összeg</b></span>
            </div>
            <input type="text" class="form-control" placeholder="Ft" readonly>
        </div>
    </div>

    <div class="form-row mt-5 mb-5">
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Kiváltás</button>
    </div>
    </form>

</div>


</body>
</html>