<!DOCTYPE html>
<html lang="hu" layout:decorator="fragments/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Zálog-program</title>
</head>
<body>
<div layout:fragment="content">

    <form name="ugyfelFelvet" th:action="@{/ugyfelUj}" th:object="${ugyfel}" method="post">

    <div class="form-row mt-5">
        <div class="input-group mb-4 col-md-5 offset-md-1">
        <div class="input-group">
            <span class="input-group-text">Név</span>
        </div>
        <input th:field="*{nev}" type="text" required class="form-control">
    </div>

        <div class="input-group mb-4 col-md-5 offset-md-1">
            <div class="input-group">
                <span class="input-group-text">Személyigazolvány szám</span>
            </div>
            <input th:field="*{szig}" type="text" minlength="8" required class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="input-group mb-4 col-md-5 offset-md-1">
            <div class="input-group">
                <span class="input-group-text">Anyja neve</span>
            </div>
            <input th:field="*{anyjaNeve}" type="text" required class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="input-group mb-4 col-md-8 offset-md-1">
            <div class="input-group">
                <span class="input-group-text">Cím</span>
            </div>
            <input th:field="*{cim}" type="text" required class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="input-group mb-4 col-md-5 offset-md-1">
            <div class="input-group">
                <span class="input-group-text">E-mail</span>
            </div>
            <input th:field="*{email}" type="text" class="form-control">
        </div>
    </div>

    <div class="form-row mt-5 mb-5">
        <div class="col-md-4 offset-md-8">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Új ügyfél</button>
        </div>
    </div>

    </form>
</div>
</body>
</html>