<!DOCTYPE html>
<html lang="hu" layout:decorator="fragments/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Zálog-program</title>
</head>
<body>
<div layout:fragment="content">

    <div class="form-row mt-5">
        <div class="input-group mb-4 col-md-5 offset-md-1">
            <div class="input-group">
                <span class="input-group-text">Név</span>
            </div>
            <input type="text" class="form-control">
        </div>

        <div class="input-group mb-4 col-md-5 offset-md-1">
            <div class="input-group">
                <span class="input-group-text">Személyigazolvány szám</span>
            </div>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="input-group mb-4 col-md-5 offset-md-1">
            <div class="input-group">
                <span class="input-group-text">Anyja neve</span>
            </div>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="input-group mb-4 col-md-8 offset-md-1">
            <div class="input-group">
                <span class="input-group-text">Cím</span>
            </div>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="input-group mb-4 col-md-5 offset-md-1">
            <div class="input-group">
                <span class="input-group-text">E-mail</span>
            </div>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-row mt-5 mb-5">
        <div class="col-md-4 offset-md-8">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Új ügyfél</button>
        </div>
    </div>


</div>
</body>
</html>