<!DOCTYPE html>
<html lang="hu" layout:decorator="fragments/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Zálog-program</title>
</head>
<body>
<div layout:fragment="contentIgazgato">

    <form name="zalogfiok" th:action="@{/zalogfiok}" th:object="${zalogfiok}" method="post">

        <div class="form-row mt-5">
            <div class="input-group mb-4 col-md-8 offset-md-1">
                <div class="input-group">
                    <span class="input-group-text">Cím</span>
                </div>
                <input th:field="*{cim}" type="text" required class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="input-group mb-4 col-md-5 offset-md-1">
                <div class="input-group">
                    <span class="input-group-text">Telefonszám</span>
                </div>
                <input th:field="*{telefon}" type="text" required class="form-control">
            </div>
        </div>

        <div class="form-row mt-5 mb-5">
            <div class="col-md-4 offset-md-8">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Új Zálogfiók</button>
            </div>
        </div>
    </form>

    <div class="container">
        <table class="table table-hover mb-5">
            <thead class="thead-light">
            <tr>
                <th scope="col">Cím</th>
                <th scope="col">Telefonszám</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fiok : ${zalogfiokok}">
                <td th:text="${fiok.cim}"></td>
                <td th:text="${fiok.telefon}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <form name="torol" th:action="@{/fiokTorol}" th:object="${zalogfiok}" method="post">
        <div class="form-row mt-5">
            <div class="input-group mb-4 col-md-5">
                <div class="input-group">
                    <span class="input-group-text">Cím</span>
                </div>
                <select th:field="*{id}" class="form-control">
                    <option th:each="fiok : ${zalogfiokok}"
                            th:value="${fiok.id}"
                            th:text="${fiok.cim}"></option>
                </select>
            </div>

            <div class="col-md-4 offset-md-8 mb-5">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Zálogfiók törlése</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>